<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div class="container">
<div class="row row align-items-center">
<hr>
<h2>SuperMarket</h2>
<hr>

<a th:href="@{/register}" class="btn btn-outline-warning">register</a>
<br>
<br>
<br>
<a th:href="@{/login}" class="btn btn-outline-success">log in</a>
</div>
</div>
</body>
</html>